<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/header"); -%>
 <body>
    <%- include("layouts/navbar"); -%>
    <!-- Header-->
    <header class="banner home bg-dark">
      <div
        class="color-overlay d-flex justify-content-center align-items-center"
      >
        <div class="banner-text text-center">
          <h1 class="display-4 fw-bolder">About</h1>
          <p class="lead fw-normal mb-0">What we do</p>
        </div>
      </div>
      <!-- </div> -->
    </header>

    <%- include("layouts/footer"); -%> <%- include("layouts/scripts"); -%>
  </body>
</html>
